:root {
	--bg-color: #161638;
	--input-color: #313137;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 62.5%;
}
.flex {
	display: flex;
	&.column {
		flex-direction: column;
	}
	&.wrap {
		flex-wrap: wrap;
	}
}
.orange {
	color: #f1a415;
	font-weight: bold;
}
body {
	background-color: #181855;
	padding: 2rem;
}
form {
	position: relative;
	gap: 2rem;
	& .titulo {
		& h3 {
			font-size: 2.4rem;
		}
		& p {
			color: white;
			font-size: 1.2rem;
			font-weight: bold;
			text-decoration: underline;
			text-decoration-line: underline;
		}
	}
	& .conjunto-de-dados {
		color: white;
		font-size: 2.4rem;
		background-color: var(--bg-color);
		padding: 1rem;
		gap: 1.2rem;
		width: 60rem;
		justify-content: space-around;
		align-items: start;
		border-radius: 5px;
		border: 1.5px solid rgba(255, 255, 255, 0.171);
		& .titulo {
			position: absolute;
			transform: translateY(-6.7rem);
			&.dois {
				transform: translateY(-14.7rem);
			}
		}
		& input {
			border-radius: 3px;
			width: 45.659rem;
			height: 2.7rem;
			background-color: #313137;
			border: 0.5px solid gray;
			color: white;
			padding-left: 0.8rem;
			&:focus {
				outline: none;
				border: 2px solid gray;
			}
		}
		& div {
			font-size: 2.4rem;
			align-items: center;
			& div {
				align-items: center;
				justify-content: center;
				width: 12.341rem;
			}
		}
	}
	& button.conjunto-de-dados {
		cursor: pointer;
		justify-content: center;
		align-items: center;
		color: white;
		background-color: green;
		border: none;
		border-radius: 5px;
		height: 4rem;
		box-shadow: 2px 2px 4px 1px #ffffff38;
		transition: all 0.3s;
		&:hover {
			background-color: rgb(4, 82, 4);
			box-shadow: -2px -2px 4px 1px rgba(255, 255, 255, 0.562);
			transform: translate(2px, 2px);
		}
	}
}
